.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr; /* Меню | Лого | Адрес */
  align-items: center;
  padding: 92px 50px;
}

.menu {
  justify-self: start;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style-type: circle; /* По заданию */
  padding-left: 20px;
}

.menu li:first-child {
  list-style-type: none; /* У первой ссылки нет кружочка */
}

.menu a {
  font-size: 18px;
  text-decoration: underline;
}

.logo {
  width: 148px;
  display: block;
}

.contacts {
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  max-width: 240px;
}

.contacts a {
  text-decoration: underline;
}

.contacts p {
  margin-top: 5px;
}

/* --- COVER (Шаг 5) --- */
.cover {
  position: relative;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 135px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

/* Переиспользуемый оверлей */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.title {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: #fff;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.aligned-text_right {
  grid-column: 3;
  grid-row: 3;
  text-align: right;
}

.description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end; /* Сдвигаем всё вправо */
  align-items: center;
  gap: 78px;
  width: 100%;
}

.description p {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 540px;
  word-spacing: 15px; /* Настройка расстояния между словами по макету */
}

.description button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* --- LOTS (Шаг 6) --- */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
}

.card__title, .card__text {
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.card_type_film { background-image: url("../images/card-lot-01.jpg"); }
.card_type_book { background-image: url("../images/card-lot-02.jpg"); }
.card_type_picture { background-image: url("../images/card-lot-03.jpg"); }

.lots__look-more {
  display: block;
  width: fit-content;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

/* --- ABOUT (Шаг 7) --- */

.about {
  display: grid;
  grid-template-columns: 240px 1fr; /* Лого | Текст */
  column-gap: 51px;
  padding: 180px 50px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  grid-column: 2;
  align-self: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about__text {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  font-size: 20px;
  line-height: 120%;
}

/* --- FOOTER (Шаг 8) --- */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr; /* Адрес | Меню | Соцсети */
  align-items: start;
  padding: 180px 50px 90px;
}

.footer__contacts {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer__contacts a {
  display: block;
  text-decoration: underline;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}