.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.menu {
  justify-self: start;
}

.menu__list {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.menu__link {
  font-size: 18px;
}

.logo {
  width: 148px;
  display: block;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  text-decoration: underline;
}

.cover {
  position: relative;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 135px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  align-self: center;
  line-height: 0.9;
  margin-top: 20px;
}

.aligned-text_right {
  align-self: flex-end;
  line-height: 0.9;
  margin-top: 40px;
  text-align: right;
  margin-right: -0.3em;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  width: 100%;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 540px;
  white-space: nowrap;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 31px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.card__title, .card__text {
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: auto;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more {
  display: block;
  width: fit-content;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  padding: 180px 50px 0;
  column-gap: 51px;
  align-items: start;
}

.about__logo {
  grid-row: 1 / 2;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  grid-column: 2;
  grid-row: 1 / 2;
  font-size: 40px;
  text-transform: uppercase;
  align-self: center;
}

.about__text {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.about__text p {
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 90px;
}

.footer__address {
  max-width: 240px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer__menu-link {
  text-decoration: none;
  white-space: nowrap;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  align-items: center;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}