.header {
  display: flex;
  align-items: center;
  padding: 92px 50px;
}

.menu {
  flex: 1;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.menu a {
  font-size: 18px;
  text-decoration: underline;
}

.logo {
  flex-shrink: 0;
  width: 148px;
}

.contacts {
  flex: 1;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts a {
  text-align: left;
  text-decoration: underline;
  width: 240px;
}

.contacts a.address {
  text-decoration: none;
}

.cover {
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 135px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  color: #fff;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.aligned-text {
  display: block;
}

.aligned-text:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.aligned-text_center {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.aligned-text_right {
  grid-column: 3;
  grid-row: 3;
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  width: 100%;
}

.description p {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 540px;
}

.description button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  padding: 179px 50px;
}

.lots__heading {
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 27px;
  
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__list-item {
  display: flex;
}

.card-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: auto;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
}

.lots__look-more {
  display: block;
  width: fit-content;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: 240px auto;
  column-gap: 0;
  padding: 80px 50px;
  width: 1100px;
  margin: 0 auto;
}

.about__logo {
  grid-column: 2 / 6;
  grid-row: 1;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__title {
  grid-column: 7 / 19;
  grid-row: 1;
  align-self: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin: 0;
}

.about__text {
  grid-column: 7 / 19;
  grid-row: 2;
  
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 30px;
}

.about__text p {
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 180px 50px 90px;
}

.footer__contacts {
  flex: 1;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer__contacts a {
  display: block;
  text-decoration: underline;
  margin-bottom: 2px;
}

.footer__address {
  margin-top: 5px;
}

.footer__menu {
  flex: 1;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: underline;
}

.footer__social-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}