.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.menu {
  justify-self: start;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.menu a {
  font-size: 18px;
  text-decoration: underline;
}

.logo {
  width: 148px;
  display: block;
}

.contacts {
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  width: 240px;
}

.contacts a {
  display: block;
  text-decoration: underline;
}

.contacts a.address {
  text-decoration: none;
  margin-top: 5px;
}

.cover {
  position: relative;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 135px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

/* .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
} */

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.title {
  position: relative;
  z-index: 1;
  /* display: grid; */
  display: flex;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  flex-direction: column;
  align-items: start;
  color: #fff;
  font-size: 100px;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  /* letter-spacing: 30%; */
}

/* .aligned-text {
  display: block;
} */

.aligned-text_center {
  /* grid-column: 2;
  grid-row: 2; */
  align-self: center;
  margin-top: 20px;
  /* text-align: center; */
}

.aligned-text_right {
  /* grid-column: 3;
  grid-row: 3; */
  align-self: flex-end;
  margin-top: 40px;
  text-align: right;
  margin-right: -0.3em;
}

.description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  width: 100%;
}

.description p {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 540px;
  /* word-spacing: 1.2em; */
  letter-spacing: 0;
}

.description button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.card__title, .card__text {
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: auto;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more {
  display: block;
  width: fit-content;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  padding: 180px 50px;
  column-gap: 51px;
  /* align-items: start; */
  align-items: center;
}

.about__logo {
  grid-column: 1;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  grid-column: 2;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 30px;
}

.about__text {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 90px;
}

.footer__contacts {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer__contacts a {
  display: block;
  text-decoration: underline;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer__menu-link_active {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  align-items: center;
  margin-top: -3px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}